.form label {
    text-align: left ;
    padding: 20px;    
}

.form  {
    font-family: 'Inter';    
}

.add {
    margin-left: 15px;    
    padding-top: 13px;
    cursor: pointer;
}

.close {
    cursor: pointer;
}

.schedule {
    position: absolute;
    padding-top: 13px;
    padding-left: 5px;
}

.horarios {
    list-style-type: none;
    margin-top: 3px;
    padding-left: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator{
    font-size: 20px;
    filter: invert(36%) sepia(1%) saturate(0%) hue-rotate(86deg) brightness(96%) contrast(90%);
  }